.DS_Store
.sass-cache
_site/*
assets/_site/*
*.*~
node_modules
.jekyll-metadata
.jekyll-cache
tmp
gym-pursuit-evasion/gym_pursuit_evasion.egg-info/
gym-pursuit-evasion/gym_pursuit_evasion/__pycache__/
gym-pursuit-evasion/gym_pursuit_evasion/envs/__pycache__/
.infer